<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>

    <header>


    <div class="barra-logo">

        <img src="static/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        
        <form class="buscar-producto">
            <input type="search" name="search" placeholder="Buscar marca o productos">
            <button type="submit">Buscar</button>
        </form>

            <p>compra en cuotas y sin tarjeta de credito</p>

    </div>   
  

<nav>
   <ul>

    <li> <a href="">Ofertas</a></li>
    <li> <a href="">Tiendas</a></li>
    <li><a href="">Vender</a></li>
    <li><a href="">Ayuda</a></li>
   </ul>

   

  
   <ul>
    <li><a href="/register">Creeá tu cuenta</a></i></li>
    <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
    <li><a href="/">Mis Compras</a><i class="fad fa-shopping-basket"></i></li>
   </ul>
</nav>

<div class="burger-menu">

    <i class="fas fa-bars"></i>

</div>
</header> 

    <img class="imagen-banner" src="static/img/img-home-banner.jpg" alt="promoción">

    <form class="formregister" action="/" method="post">
<div>
    <label for=""></label>
    <input type="text" name="nombre" placeholder="Nombre y Apellido" required>
</div>
<div>
    <input type="text" name="usuario" placeholder="Nombre de Usuari@" required>
</div>
<div>
    <input type="email" name="emial" id="" placeholder="E-mail" required>
</div>
<h4>Fecha de nacimiento</h4>
<div>
    <input type="date" name="fecha" id="" placeholder="dd/mm/aaaa">
</div>
<div>
    <input type="text" name="domiciñio" id="" placeholder="Domicilio">
</div>
<h4>Perfil de Usuario</h4>
<div>
    <label for="comprar">Comprador</label>
    <input type="radio" name="compravenda" id="comprar">
    <label for="vender">Vendedor</label>
    <input type="radio" name="compravenda" id="vender">
</div>
<h4>Intereses</h4>
<div class="register-choice">
    <div>
        <label for="">Electro</label>
        <input type="checkbox" name="Electro">
    </div>
    <div>
        <label for="">Moda</label>
        <input type="checkbox" name="Moda">
    </div>
    <div>
        <label for="">Hogar</label>
        <input type="checkbox" name="Hogar">
    </div>
    <div>
        <label for="">Juguetería</label>
        <input type="checkbox" name="Juguetería">
    </div>
    <div>
        <label for="">Vida Sana</label>
        <input type="checkbox" name="Vida Sana">
    </div><br>
<div>
    <input type="file" name="foto-usuario" id="foto-usuario" accept="image/*">
</div><br>
<div>
    <input type="password" name="password" id="password" placeholder="Contraseña" required>
</div>
<div>
            <input type="password" name="password-confirm" id="password-confirm" placeholder="Confirmar contraseña" required>
        </div>
        <div>
           <input class="button-form" type="submit" value="Enviar">
            <input class="button-form" type="reset" value="Limpiar">
        </div>
</div>

</form>

    
<footer>

   
    <ul>
        <li> <i class="fas fa-credit-card"></i> 
            <h4><strong>Pagá con tarjeta o en efectivo</strong></h4></li>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

        <li> <i class="fas fa-gift"></i>
            <h4><strong>Envío gratis desde $ 2.500</strong></h4></li>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>

        <li> <i class="fas fa-user-shield"></i>
            <h4><strong>Seguridad, de principio a fin</strong></h4></li>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>

        <li><h4><strong>Copyright © 1999-2022 MercadoLiebre S.R.L.</strong></h4></li>
        
    
    </ul>

   </footer>
      

</body>
</html>